
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<div class="masthead">
<div class="hero">
</div>

  <div class="govuk-width-container">
  <div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" style="color:white">Tell us what identity checks your service does</h1>
      <p class="hero__description" style="color:white">
        The GDS Digital Identity programme wants to make it easier for teams across government to check who their users are when they access services.</p>
      <p class="hero__description" style="color:white">
        We're designing a new service to help teams do these checks. To make sure we build the right thing, we want to talk to service teams from different departments and agencies. If you work on one of these teams and are involved in making sure only the right users have access to your service, then we'd like to talk to you.</p>
        <a href="https://forms.gle/jFjagpcFTo4Xrjy1A" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted" data-module="govuk-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
                  Get in touch
                  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                  </svg>
                </a>
        </div>
        </div>
      </div>
    </div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-two-thirds">
        <section class="content-section">
          <h2 class="govuk-heading-l content-section__first-heading">What we want to find out</h2>
          <p class="govuk-body">We want to find out how you check who your users are when they access your service. You might currently do this by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              proving their identities
            </li>
            <li>
            checking or collecting information to make sure they're eligible
            </li>
          </ul>
          <p class="govuk-body">We'd like to know how you decided what checks you should do. We also want to know more about what the checks involve and any existing products or components you use to do them.</p>
        </section>
</main>


{% endblock %}
