
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Tell us what identity checks your service does
      </h1>
      <p class="govuk-body-l">
        GDS wants to make it easier for teams across government to check who their users are when they access services.
      </p>
      <p>
          We're designing a new service to help teams do these checks.
        </p>
      <p>
        To make sure we build the right thing, we want to talk to service teams from different departments and agencies.
        </p>
      <p>
        If you work on one of these teams and are involved in making sure only the right users have access to your service, then we'd like to talk to you.
        </p>
      <p>
        <a href="https://forms.gle/jFjagpcFTo4Xrjy1A" class="govuk-link"> Get in touch</a> if you'd like to talk to us.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">What we want to find out</h2>

      <p>We want to find out how you check who your users are when they access your service. You might currently do this by:
        </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          proving their identities
        </li>
        <li>
        checking or collecting information to make sure they're eligible
        </li>
      </ul>

      <p>We'd like to know more about how you decided what checks you should do. We also want to know more about what the checks involve and any existing products or components you use to do them.
        </p>
    </div>
  </div>

{% endblock %}
